<div id="crop-selector">
    
    <div id="crop-selector-header">
        <h3>Select a crop</h3>
    </div>

    <div id="crop-selector-body">

        <form id="crop-selector-form" (submit)="submitCrop($event)">
            
            <button type="submit" value="crop">Submit</button>

            @for (crop of selectableCrops; track $index) {
                <div class="crop-selector-item">
                    <input type="radio" name="crop" id={{crop.name}} value="{{crop.id}}" />
                    <label for={{crop.name}}>{{crop.name}}</label>
                </div>
            }
        </form>

    </div>
</div>

<!-- <p>crop-selector works!</p> -->
