<!-- <router-outlet /> -->
<div class="body">
    <p>Hello world, {{title}} here.</p>
    
    <div class="container">

        <div id="selectors-container">
    
            <app-country-selector
                [selectableCountries]="selectableCountries" 
                (countriesSelectedEvent)="OnCountriesSelected($event)" 
            />
    
            <app-crop-selector
                [selectableCrops]="selectableCrops"
                (cropSelectedEvent)="OnCropSelected($event)"
                
            />
            
        </div>
    
        <div id="linechart-container">
        <app-line-chart 
            [chartData]="lineChartData" 
        />
        </div>

    </div>


</div>